.about-me {
    display: flex;
    flex-direction: column;
}

.info-card {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2% 0 2% 0;
    width: 70%;
    background-color: #eee;
    border-radius: 15px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: darkcyan;
    aspect-ratio: 1/1;
}

.info-header img {
    width: 50%;
}

.info-body {
    width: 80%;
    padding: 2%;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.card-content {
    text-align: justify;
}

.fade-in-left {
	opacity: 0;
	cursor: pointer;
	transform: translate3d(-200px, 0, 0);
	transition: 0.5s all 0.5s ease-in-out;
}

.fade-in-left.animation {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.fade-in-left .info-header {
    border-radius: 15px 0 0 15px;
}

.fade-in-right {
    flex-direction: row-reverse;
    align-self: flex-end;
    justify-self: flex-end;
    opacity: 0;
	cursor: pointer;
	transform: translate3d(200px, 0, 0);
	transition: 0.5s all 0.5s ease-in-out;
}

.fade-in-right.animation {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.fade-in-right .info-header {
    border-radius: 0 15px 15px 0;
}

@media (max-width: 900px) {
    .about-me {
        justify-content: center;
        align-items: center;
    }

    .info-card {
        width: 100%;
    }

    .info-card.opened {
        justify-content: center;
        align-items: center;
    }

    .info-header {
        width: 25%;
    }

    .info-header.removed {
        display: none;
    }

    .info-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    }

    .info-body.opened {
        width: 100%;
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-content {
        display: none;
        padding: 3%;
        text-align: justify;
    }

    .card-content.opened {
        display: block;
        padding: 3%;
        text-align: justify;
        animation: content-appear 0.5s;
    }

    @keyframes content-appear {
        from{
         transform: translateY(-7%);
       }
        to{
          transform: translateY(0);
       }
    }

    .fade-in-left img, .fade-in-right img {
        border-radius: 15px;
    }
}

@media (max-width: 450px) {
    .card-title {
        font-size: 1.3em;
    }
}