.about-me {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.info-card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    color: black;
    background-color: #eee;
    border-radius: 15px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: darkcyan;
    aspect-ratio: 1/1;
}

.info-header img {
    width: 50%;
}

.info-body {
    width: 80%;
    padding: 2%;
}

.card-title {
    font-size: 20px;
    margin-bottom: 2%;
}

.card-content {
    text-align: justify;
}

.fade-in-left {
	opacity: 0;
	transform: translate3d(-200px, 0, 0);
	cursor: pointer;
	transition: 0.5s all 0.5s ease-in-out;
}

.fade-in-left .info-header {
    border-radius: 15px 0 0 15px;
}
  
.fade-in-left.animation {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.fade-in-right {
    align-self: flex-end;
    justify-self: flex-end;
    flex-direction: row-reverse;
    opacity: 0;
	transform: translate3d(200px, 0, 0);
	cursor: pointer;
	transition: 0.5s all 0.5s ease-in-out;
}

.fade-in-right .info-header {
    border-radius: 0 15px 15px 0;
}

.fade-in-right.animation {
    opacity: 1;
	transform: translate3d(0, 0, 0);
}

@media (max-width: 900px) {
    .about-me {
        justify-content: center;
        align-items: center;
    }

    .info-card {
        width: 100%;
    }

    .info-body {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        margin-bottom: 0;
    }

    /* .fade-in-right {
        align-self: center;
        justify-self: center;
        flex-direction: row;
    } */

    /* .fade-in-left.animation {
        all: unset;
    }

    .fade-in-right.animation {
        all: unset;
    } */

    .info-card.opened {
        justify-content: center;
        align-items: center;
    }

    /* @keyframes content-appear {
        from{
         transform: scaleY(0.5);
       }
        to{
          transform: scaleY(1);
       }
    } */

    @keyframes content-appear {
        from{
         transform: translateY(-7%);
       }
        to{
          transform: translateY(0);
       }
    }

    .card-content {
        display: none;
        padding: 3%;
        text-align: justify;
    }

    .card-content.opened {
        display: block;
        padding: 3%;
        text-align: justify;
        animation: content-appear 0.5s;
    }

    .info-body.opened {
        width: 100%;
    }

    .info-header.removed {
        display: none;
    }

    .info-header {
        width: 25%;
    }
    
    .fade-in-left img {
        border-radius: 15px;
    }

    .fade-in-right img {
        border-radius: 15px;
    }

}