.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}

.separator a img {
    width: 50px;
    height: 50px;
}

@media (max-width: 375px) {
    .separator {
        margin: 20% 0 20% 0;
    }
}

@media (max-width: 414px) {
    .separator {
        margin: 30% 0 30% 0;
    }
}