.marquee {
    --gap: 2rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
  
.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    /* min-width: 100%; */
    gap: var(--gap);
    animation: scroll 30s infinite linear;
}

.marquee-content img {
    height: 6rem;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media (max-width: 900px) {

    .marquee {
        --gap: 4rem;
        gap: var(--gap);
    }

    .marquee-content {
        display: flex;
        justify-content: space-around;
    }
    
    .marquee-content img {
        height: 3rem;
    }
}