.marquee {
    --gap: 2rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
  
.marquee-content {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 20s infinite linear;
}

.marquee-content img {
    height: 6rem;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media (max-width: 600px) {
    .marquee-content img {
        height: 4rem;
    }
}