html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none;
}

html {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 400px;
}

body {
    height: 100%;
}

/* Navbar CSS */
.navbar {
    margin-top: 2%;
    margin-bottom: 5%;
    overflow: hidden;
    display: flex;
}

.navbar a {
    float: left;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.navbar a.active, a:visited {
    color: black;
}

.home-and-icon {
    display: flex;
    text-transform: none;
    justify-self: flex-start;
    align-items: center;
    text-align: left;
    width: 40%;
}

.links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.links a:hover {
    color: #000;
}
  
.links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
.links a:hover::before {
    transform: scaleX(1);
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .home-and-icon {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }
    .navbar {
        display: block;
    }
    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .links a::before, .links a:hover , .links a:hover::before {
        background-color: transparent;
        transform: none;
        transition: none;
    }
    .navbar a {
        display: block;
    }
    #home {
        display: block;
        text-align: left;
    }
    .navbar a {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
        color: black;
    }
}

@media (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a {
        float: none;
        display: block;
    }
}

/* HEADER CSS */
.header-container {
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    /* padding-left: 5%; */
    width: 40%;
}

#greeting, #name {
    font-size: 6vh;
}

#greeting {
    margin-top: 40%;
}

#position {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeIn 2s ease 3.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#name {
    margin-bottom: 5%;
}

.flex-item-left p {
    font-size: 20px;
}

.flex-item-right {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}

.background {
    position: absolute;
    align-self: flex-end;
    width: 70%;
    height: 90%;
    background-color: darkcyan;
    border-radius: 50% 0% 0% 0%;
}

img {
    position: relative;
    max-width: 100%;
}

@media (max-width: 950px) {
    .header-container {
        flex-direction: column;
    }

    .flex-item-left {
        padding: 10% 0 10% 0;
    }

    .flex-item-left, .flex-item-right {
        width: 100%;
    }

    #greeting {
        margin-top: 0%;
    }

    #greeting, #name {
        font-size: 5vh;
    }

    #position {
        font-size: 3vh;
        margin-bottom: 10%;
    }
}

/* Separator CSS */
.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.separator a img {
    width: 50px;
    height: 50px;
}

@media (max-width: 400px) {
    .separator {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

/* About me CSS */
.subtitle {
    font-size: 24px;
}

.about-me {
    display: flex;
    flex-direction: column;
}

.info-left {
    margin-left: 10%;
}

.info-right {
    align-self: flex-end;
    margin-right: 10%;
}

.info-left, .info-right {
    max-width: 30%;;
}

.info-header {
    background-color: coral;
}

.info-body {
    background-color: crimson;
}

/* Projects CSS */
.projects {
    display: flex;
    flex-direction: row;
}

.project p {
    display: block;
}

.selection-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333;
    width: 30%;
    height: 400px;
}

.selection-buttons a {
    color: white;
}

.selected-project {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.project-picture {
    width: 40%;
    height: 100%;
    background-color: wheat;
}

.project-description {
    width: 60%;
    height: 100%;
    background-color: aquamarine;
}

/* Contact CSS */
.contact {
    display: flex;
    flex-direction: row;
}

.contact-possibilities, .contact-by-email form {
    display: flex;
    flex-direction: column;
}

.contact-possibilities {
    width: 50%;
    background-color: #04AA6D;
}

.contact-by-email {
    width: 50%;
    background-color: cadetblue;
}