.contact {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contact-possibilities, .contact-by-email form {
    display: flex;
    flex-direction: column;
}

.contact-possibilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #04AA6D;
}

.contact-possibilities p {
    font-size: 30px;
}

.contact-possibilities a {
    text-align: center;
    width: 20%;
}

.contact-possibilities img {
    width: 100%;
}

.contact-by-email {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    background-color: #04AA6D;
}

.contact-by-email span {
    display: block;
    width: 40%;
}

.contact-by-email label {
    margin: 2%;
    padding: 5%;
    background-color:teal;
    border-radius: 15px;
}

input, textarea {
    width: 100%;
}

button {
    margin: 2%;
    padding: 2%;
    width: 30%;
    font-size: 30px;
    border-radius: 15px;
}

@media (max-width: 900px) {

    .contact {
        flex-direction: column;
    }

    .contact-possibilities p, img {
        margin: 5%;
    }

    .contact-possibilities, .contact-by-email {
        width: 100%;
    }
}